api-key: "thisismyapikey123"
source-budgets:
  - name: "My Budget"
    categories:
      - group: True Expenses
        name: Joint Account Shopping
    flag-color: red
  - name: "My Partners Budget"
    categories:
      - group: Other Expenses
        name: Joint Account Shopping
    flag-color: blue
joint-budgets:
  - name: Joint Budget
    account: Joint Account
